html {
  min-width: 1600px;
  font-family: "Inter";
}

nav li {
  list-style: none;
}

nav li a {
  text-decoration: none;
}

nav {
  height: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 120px;
  margin: 0 auto;
}

nav .navigators ul {
  display: flex;
  gap: 32px;
  padding: 16px 8px;
  min-width: 365px;
}

nav a {
  color: #000000;
  font-weight: 500;
}

nav a:hover {
  opacity: 90%;
  cursor: pointer;
}

button {
  font-size: 16px;
  border-radius: 4px;
  padding: 12px 16px;
  cursor: pointer;
}

nav #earlyAccessBtn,
header #btn1 {
  border: none;
  color: white;
  background-color: #469165;
}

nav #earlyAccessBtn:hover,
header #btn1:hover {
  background-color: #30B868;
  cursor: pointer;
}

.header {
  background-image: url('/assets/hero-bg.png');
  background-size: cover;
  background-position: center;
  height: 674px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
}

#earlyAccessBtn2 {
  background-color: white;
  color: #469165;
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
  border-radius: 1000px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 0px;
  border: 1.5px solid white;
  cursor: pointer;
}

#earlyAccessBtn2:hover {
  border: 1.5px solid #001931;
}

/* Header Heading */
header h1 {
  font-size: 72px;
  font-weight: 700;
  color: white;
  line-height: 84px;
  margin: 20px;
}

.greenText {
  color: #30B868;
}

.headerDesc {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.85);
  line-height: 40px;
  margin-bottom: 40px;
}

.headerBtns {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 32px;
}

#btn1 {
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
}

#btn2 {
  background-color: transparent;
  color: white;
  font-weight: 600;
  border: 1px solid #ffffff;
  display: flex;
  align-items: center;
  gap: 10px;
}

#btn2:hover {
  box-shadow: 0px 10px 30px 10px #001931;
  /**/
}

.probs {
  padding: 80px 120px;
  text-align: center;
  background-color: #F9FAFB;
}

.probs h2 {
  font-size: 48px;
  font-weight: 700;
  color: #001931;
  margin-bottom: 16px;
}

.probsSubtitle {
  font-size: 16px;
  color: #627382;
  line-height: 20px;
  margin-bottom: 48px;
}

.probsCards {
  display: flex;
  justify-content: center;
  gap: 44px;
}

.probCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 32px;
  border-radius: 8px;
  height: 300px;
  width: 322px;
}

.probIcon {
  height: 60px;
  width: 60px;
  background-color: #F95555;
  border: none;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.probIcon:hover {
  border: 0px hidden;
  box-shadow: inset 0px 0.5px 10px 10px white;
}

.probCard h3 {
  font-size: 24px;
  font-weight: 600;
  color: #001931;
  margin-bottom: 5px;
}

.probCard p {
  font-size: 14px;
  color: #6b7280;
  line-height: 1.5;
}

.solution {
  padding: 80px 120px;
  display: flex;
  align-items: center;
  gap: 60px;
  background-color: white;
}

.solutionImg {
  width: 600px;
  height: 600px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.solutionLabel {
  font-size: 14px;
  font-weight: 600;
  color: #469165;
  letter-spacing: 1px;
  margin-bottom: 16px;
  display: block;
}

.solutionContent h2 {
  font-size: 48px;
  font-weight: 700;
  color: #1a202c;
  line-height: 1.2;
  margin-bottom: 16px;
}

.solutionDesc {
  font-size: 16px;
  color: #6b7280;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  max-width: 520px;
  margin-bottom: 45px;
}

.solutionFeatures {
  list-style: none;
  padding: 0;
  margin: 0;
}

.solutionFeatures li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 16px;
  color: #1a202c;
  margin-bottom: 16px;
}

.cta {
  padding: 80px 40px;
  text-align: center;
  background-color: #F7F6F2;
  border-radius: 12px;
  margin: 120px;
  ;
}

.cta h2 {
  font-size: 36px;
  font-weight: 700;
  color: #1a202c;
  margin-bottom: 16px;
}

.cta p {
  font-size: 16px;
  color: #6b7280;
  line-height: 1.6;
  margin-bottom: 32px;
}

.ctaBtn {
  background-color: #469165;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 16px 28px;
  border-radius: 8px;
  border: none;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.ctaBtn:hover {
  background-color: #30B868;
}

.ctaNote {
  display: block;
  font-size: 14px;
  color: #6b7280;
}
