html{
  width: 1600px;
  font-family: "Inter";
}
nav li{
  list-style: none;
}
nav li a{
  text-decoration: none;
}
nav{
  height: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 120px;
  margin: 0 auto;
}

nav .navigators{
  opacity: 90%;
}
nav .navigators ul{
  display: flex;
  gap: 32px;
  padding: 16px 8px;
  min-width: 365px;
}

nav a{
  color: #000000;
}

nav #earlyAccessBtn{
  border: none;
  border-radius: 4px;
  padding: 12px 16px;
  color: white;
  background-color: #469165;
}
